@model TK1.Bizz.Broker.Presentation.PropertyAdView

@{
    ViewBag.Title = "Imovel";
}

<h2>Imovel</h2>

<fieldset>
    <legend>PropertyAdView</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAddressVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAddressVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAreaDescriptionVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAreaDescriptionVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAreaNameVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAreaNameVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCityTaxesVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCityTaxesVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCondoDescriptionVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCondoDescriptionVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCondoTaxesVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCondoTaxesVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsFeatured)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsFeatured)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsRoomNameVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRoomNameVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTitleVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTitleVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityTaxes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityTaxes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CondoTaxes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CondoTaxes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InternalArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InternalArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalRooms)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalRooms)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AreaDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AreaDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CondoDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CondoDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.District)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MainPicUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MainPicUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShortDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyTypeRoomName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyTypeRoomName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
