@{
    ViewBag.Title = "Produtos & Serviços";
}

<hgroup class="title">
    <h1>@ViewBag.Title:</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
@*    <p>Conheça os produtos TK1</p>*@
    <p>Páginas personalizáveis para imobiliárias e corretores independentes.</p>
    
    <h5>Página personalizada ou customizada</h5>
    <p>Sites totalmente customizados ou utilizando o estilo One Broker. Você escolhe!</p>

    <h5>Pesquisa e visualização de imóveis</h5>
    <p>Pesquisa de imóveis rápida, fácil e atraente. Do jeito como você sempre sonhou. </p>

    <h5>Cadastro a administração on-line</h5>
    <p>Gerenciamento online do portfólio de imóveis e personalização do seu espaço.</p>

    <h5>Use seu domínio próprio ou acesse através de nossa rede de corretores</h5>
    <p>Sua identidade na web. O One Broker permite a utilização de domínio exclusivo (www.SeuNome.com.br) em seu site.
        Seu e-mail também fica hospedado com a gente.<br />
        E as configurações? Não se preocupe: nós cuidamos disto para você.
    </p>
    <p>Não tem um domínio próprio? Utilize o acesso via nosso portal <mark>TBD</mark></p>

</article>

@*<aside>
    <img src="~/Images/LogoLampTK1.png" />
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@