@model TK1.Bizz.Broker.Presentation.PropertyAdView

@{
    ViewBag.Title = "Imóvel";
    Layout = "~/Areas/Bizz/Views/Shared/_LayoutBizz.cshtml";
    var propertyAd = Model;
    var valueText = String.Format("{0:C}", @propertyAd.Value);
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@propertyAd.PropertyType: </h1><h2>@propertyAd.City, bairro @propertyAd.District</h2>
                <div class="float-right">
                    <h1>@valueText</h1>
                </div>
            </hgroup>
            <nav>
                Código de @propertyAd.AdTypeName: @propertyAd.AdCode
            </nav>
        </div>
    </section>
}


<div class="picGallery">
	<div class="tn3 album">
	    <ol>
            @foreach (var pic in ViewBag.Pics)
            {
		        <li>
		            <div class="tn3 description">@pic.Description</div>
		            <h3>@pic.Description</h3>
		            <a href="@pic.Url">
                    <div style="width:960px; background-color: purple;">
                        <img src="@pic.Url" title="@pic.Description"/>
                    </div>		            

		            </a>
		        </li>
            }
	    </ol>
	</div>
</div>

<article>
    <h4>Descrição do Imóvel</h4>
@*    <h4>@propertyAd.ShortDescription</h4>*@
    <p>@propertyAd.FullDescription</p>
    @if (!string.IsNullOrEmpty(propertyAd.CondoDescription))
    {
        <h4>Características do Condomínio</h4>
        <p>@propertyAd.CondoDescription</p>
    }
    @if (!string.IsNullOrEmpty(propertyAd.AreaDescription))
    {
        <h4>Características do Bairro</h4>
        <p>@propertyAd.AreaDescription</p>
    }
</article>

<aside>
    <h4>Detalhes</h4>
    <ul>
    @foreach (var detail in ViewBag.Details)
    {
        <li>@detail.Name</li>   
    }
    </ul>
@*    <a class="brokerButton" >
        Solicite contato
    </a>    *@            

</aside>


@section scripts {
    <script src="~/Scripts/jquery.tn3lite.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Thumbnailer.config.shaderOpacity = 1;
            var tn1 = $('.picGallery').tn3({
                skinDir: "skins",
                imageClick: "fullscreen",
                image: {
                    maxZoom: 1.5,
                    crop: false,
                    clickEvent: "dblclick",
                    transitions: [{
                        type: "blinds"
                    }, {
                        type: "grid"
                    }, {
                        type: "grid",
                        duration: 760,
                        easing: "easeInQuad",
                        gridX: 1,
                        gridY: 8,
                        // flat, diagonal, circle, random
                        sort: "random",
                        sortReverse: false,
                        diagonalStart: "bl",
                        // fade, scale
                        method: "scale",
                        partDuration: 560,
                        partEasing: "easeOutSine",
                        partDirection: "left"
                    }]
                }
            });
        });
    </script>
}