@{
    ViewBag.Title = "Pesquisa";
    Layout = "~/Areas/Bizz/Views/Shared/_LayoutBizz.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Pesquisa. </h1><h2>Encontre seu imóvel aqui:</h2>
            </hgroup>
            <nav>
                @Html.DropDownList("AdType")
                @Html.DropDownList("City")
                @Html.DropDownList("PropertyType")
                @Html.DropDownList("District")
                <div class="float-right">
                    <input type="button" name="name" value="Pesquisar"  style="width:180px;"/>
                </div>
            </nav>
            <b>Mais Opções</b>
        </div>
    </section>
}

@foreach (var ad in ViewBag.SearchResults)
{        
    var value = string.Format("{0:C}", ad.Value);
    <div>
        <div class="searchResult searchResultPic"><img src="@ad.MainPicUrl" alt="" height="100px;" /></div>
        <div class="searchResult searchResultCode">Código @ad.AdCode</div>
        <div class="searchResult searchResultType">@ad.PropertyType</div>
        <div class="searchResult searchResultValue">@value</div>
        <div class="float-right searchResultDetails">
            <a class="brokerButton" href="~/Bizz/Broker/Imovel/@ad.CustomerCode/Venda/@ad.AdCode">
            Detalhes
            </a>  
        </div>
        <br class="clear"/>
    </div>
    <hr />
}

@*@{
    int pageSize = ViewBag.PageSize;
    int pageIndex = ViewBag.PageIndex;
    int count = ViewBag.SearchResultsCount;
}
<div class="pager">
	@Html.Pager(pageSize, pageIndex, count)

</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
